
body{
    background-color: rgb(4, 2, 14);
    color: white;
}
h2 {
    color: #3939eb;
}
section {
    display: flex;
width: 1300px;
justify-content: center;

}

.comment {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 2%;
    justify-content: space-around;
}

.check {
display: flex;
}

legend {
    padding-right: 15px;
}

.checkbox-item {
    margin-right: 15px;
}

.button {
    background-color:  #3939eb;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 2%;
}
/* 
.user {
    display: flex;
    flex-wrap: wrap;
} */
.userX {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100px;
    height: 100px;
    border: 2px dashed #3939eb;
}

input, textarea {
    margin-bottom: 15px;
    background-color: rgb(4, 2, 14);
    color: white;
    border: 2px dashed #3939eb;
}


#name {
    width:300px;
    height: 20px;
    margin-left: 20px;
    color: #3939eb;
}

#date {
    width:200px;
    height: 20px;
    text-align: end;
    color: #3939eb;
}


#ask {
    width: 720px;
    height: fit-content;
    padding-bottom: 20px;
    border-bottom: 2px dashed #3939eb;
}