
body{
    background-color: rgb(4, 2, 14);
    color: white;
}
h2 {
    color: #3939eb;
}
section {
    display: flex;
width: 1200px;
justify-content: center;

}

.comment {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 3%;
    justify-content: space-around;
}
.button {
    background-color:  #3939eb;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 3%;
}

.user {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 200px;
    height: 200px;
    border: 2px dashed #3939eb;
}

input, textarea {
    margin-bottom: 15px;
    background-color: rgb(4, 2, 14);
    color: white;
    border: 2px dashed #3939eb;
}


#name {
    width:200px;
    height: 20px;

}

#ask {
    width: 500px;
    height: fit-content;
    padding-bottom: 20px;
    border-bottom: 2px dashed #3939eb;
}